<!--PP2 -Step2 - Creating a basic index page-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>"I Love Movies"</p>
<!--PP3- Steps4-Linking between pages-->
<!--Add a link within the index.html file to navigate to 'Find the best movie' page-->
<a href="bestMovie">Find the best Movie!</a>

<!--Link to the 'Vote For Best Movie' page-->
<a href="voteForBestMovieForm">Vote for your favorite movie!</a>

<!--Link to the 'add Movie' page-->
<a href="addMovieForm">Add a movie</a>



</body>
</html>

